<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="teest">
                    <match url="^.*\.(.*)$" negate="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost/index.php/{REQUEST_FILENAME}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
