*{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

body{
    background-color: #D2D6DE;
}


/*The start of the css styling for login form*/
main #login-container{
    width: 364px;
    height: 237px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

main #login-form{
    padding-top: 20px;
    width: 360px;
    height: 215px;
    background-color: #F0F0F0;
    margin-left: auto;
    margin-right: auto;
    font-size: 15.5px;
    text-align: center;
}

main .login-user-input-box{
    width: 320px;
    height: 28px;
    margin-top: 15px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #B8B8B8;
    background-color: #deecfc; 
    /*font-size: 20px;*/
}


main .login-button{
    margin-bottom: 12px;
    margin-top: 15px;
    width: 325px;
    height: 32px;
    border: none;
    border-radius: 3px;
    background-color: #00A65A;
    color: whitesmoke;
    cursor: pointer;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    border-color: #F8F8F8;
}

main .login-button:hover{
    background-color: #017d44;
}


main .login-itd-skp{
    margin-top: 15px;
    padding: 4px 94.4px;
    border: none;
    border-radius: 3px;
    background-color: #00A65A;
    color: whitesmoke;
    cursor: pointer;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    border-color: #F8F8F8;
}

main .login-itd-skp:hover{
    background-color: #017d44;
}


main .login-overskrift-text{
    color: #2e2d28;
    text-align: center;
    font-size: 37px;
    margin-top: 7%;
    font-weight: 900;

}